
		#container{
			width: 306px;
			height: 515px;
			margin: 0 auto;
			margin-top: 143px;
		}
		#middle{
			width: 1365px;
			height: 658px;
		}
		#ct_1,#ct_2,#ct_3,#ct_4,#ct_5,#ct_6,#ct_7{
			float: left;
		}
		#ct_1{
			width: 306px;
			text-align: center;
			font-size: 18px;
			color: #3C3C3C;
			margin-bottom: 10px;
		}
		#ct_2{
			width: 290px;
			height: 42px;
			border: 1px solid #B6B6B6;
			font-size: 16px;
			color: #B3B3B3;
			padding-left: 12px;
			margin-bottom: 30px;
		}
		#ct_3{
			width: 150px;
			height: 42px;
			border: 1px solid #B6B6B6;
			font-size: 16px;
			color: #B3B3B3;
			padding-left: 12px;
			margin-right: 4px;
		}
		#ct_4{
			width: 134px;
			border-radius: 2px;
			height: 46px;
			background-color: #545454;
			color: #FFFFFF;
			border: 1px solid #545454;
		}
		#ct_6{
			width: 306px;
			height: 44px;
			background-color: #F70000;
			color: #FFFFFF;
			border: 0px;
			margin-top: 45px;
		}
		#ct_7{
			margin-top: 10px;
			margin-right: 4px;
		}