html,body{
    background-color: #f5f5f5;
    font-size:14px;
    font-family: '微软雅黑';
}
.qp{
    padding-left: 0;
    padding-right: 0;
}
.navbar-header{
    height: 65px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
#re_z{
    padding-top: 46px;
}
#phone{
    border: 0;
    border-bottom:1px solid #ccc;
    border-radius: 0;
    padding-left:25%;
    margin-top:10px;
    height:60px;
    font-size:16px;
    box-shadow:0 0 0;
}
#sizing-addon1{
    background-color: #fff;
    border:0px solid #ccc;
    border-radius: 0px;
}
#te_ph{
    border-radius: 0px;
    border:0px solid #ccc;
}
#inline{
    padding-top: 15px;
}
#inline span{
    color: #e0e0e0;
}
#btn{
    padding-top: 31px;

}
.btn-block{
    border:0px solid #ccc;
    border-radius: 0px;
    background-color: #eeeeee;
    color: #cecece;
}
#proe{
    padding-top: 16px;
}
#proe div a{
    color: #939393;
    text-decoration: underline ;
}
#inline img{
    width: 20px;
    height: 20px;
}
.btn-default{
    border-color: transparent;
}
.btn-primary{
    border-color: transparent;
}
.cl_gray{
    color: #bbb;
}
#myModal{
    position:fixed;
    top: 0px;
    z-index: 10;
    background-color:rgba(49,49,49,0.6);
    width: 100%;
    height: 100%;
    display:none;
}
#tp{
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    width: 80%;
    height: 170px;
    top:248px;
    left: 39px;
}