@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1503111841226'); /* IE9*/
    src: url('../fonts/iconfont.eot?t=1503111841226#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1503111841226') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1503111841226') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1503111841226#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before { content: "\e788"; }
.icon-fanhui:before { content: "\e624"; }

body{
    background-color: #f5f5f5;
}
.f_l{
    float: left;
}
#head{/*头部div*/
    overflow: auto;

    background-color: #ffffff;
}
.head_l{/*头部左边*/
    padding: 28px 20px 12px 20px;
}
.head_r{/*头部右边*/
    padding: 28px 20px 0px 20px;
    font-size: 17px;
}
.re_form {
    margin-top: 64px;
    padding-top: 38px;
}
.reg_log{
    margin-top:12px ;
    padding-left: 15px;
    padding-right: 15px;
}
.bg_div{
    border: 1px solid rgb(212,212,212);
    border-radius: 1px;
    background-color: rgb(255,255,255);
    height:44px;
    padding-top: 8px;
}
.bg_div input{
    border: 0;
    display: inline-block;
    width:80%;
    outline: none;
    color: #989898;

}
.bg_btn{
    background-color: #eeeeee;
    width:37.33%;
    padding-left: 0px;
    padding-right:0px;
    border-radius: 1px;
    height:44px;
    line-height: 40px;
    color: #989898;
}
.btnok{
    margin-top: 37px;
    padding-left: 15px;
    padding-right: 15px;
}
.st_bg{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #eeeeee;
    border-radius: 1px;
    color: #989898;
}
.question{
    color: #989898;
    margin-top: 15px;
}