<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yld.mapper.AddressMapper">
  <resultMap type="Address" id="adsrestltMap">
  	<id column="address_id" property="addressId"/>
  	<result column="provinceid" property="provinceid"/>
  	<result column="cityid" property="cityid"/>
  	<result column="districtid" property="districtid"/>
  	<result column="address" property="address"/>
  	<result column="zipcode" property="zipcode"/>
  	<result column="phone" property="phone"/>
  	<result column="user_id" property="userId"/>
  	<result column="user_name" property="userName"/>
  	<result column="address_state" property="addressState"/>
  	<!-- 多对一 -->
  	<association property="user" javaType="User">
  		<id column="user_id" property="userId"/>
  		
  	</association>
  </resultMap>
  <select id="findall" resultMap="adsrestltMap">
  	select * from moon_address
  </select>
</mapper>
