<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yld.AdminMapper">
  <resultMap type="Admin" id="admrestltMap">
  	<id column="id" property="id"/>
  	<result column="name" property="name"/>
  	<result column="pwd" property="pwd"/>
  	<result column="status" property="status"/>
  	<result column="add_time" property="addTime"/>
  </resultMap>
</mapper>
