<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd\mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yld.mapper.GoodsPicMapper">
  	<resultMap type="GoodsPic" id="goodsPic">
  		<id column="pic_id" property="picId"/>
  		<result column="goods_id" property="goodsId"/>
  		<result column="pic1" property="pic1"/>
  		<result column="pic2" property="pic2"/>
  		<result column="pic3" property="pic3"/>
  		<result column="pic4" property="pic4"/>
  		<result column="pic1_thumb" property="pic1Thumb"/>
  		<result column="pic2_thumb" property="pic2Thumb"/>
  		<result column="pic3_thumb" property="pic3Thumb"/>
  		<result column="pic4_thumb" property="pic4Thumb"/>
  		<association property="goods" javaType="Goods">
  			<result column="goods_id" property="goodsId"/>
  		</association>
  	</resultMap>
  	<select id="findall" resultMap="goodsPic">
  		select * from moon_goods_pic
  	</select>
</mapper>
