<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yld.mapper.GoodsAttrMapper">
  <resultMap type="GoodsAttr" id="goodAttr">
  	<id column="attr_id" property="attrId"/>
  	<result column="goods_id" property="goodsId"/>
  	<result column="material" property="material"/>
  	<result column="border" property="border"/>
  	<result column="size" property="size"/>
  	<result column="function" property="function"/>
  	<result column="brand_id" property="brandId"/>
  	<result column="color" property="color"/>
  	<result column="price" property="price"/>
  	<!-- 表达多对一关联 -->
	<association property="goods" javaType="Goods">
		<id column="goods_id" property="goodsId"/>
		<result column="brand_id" property="brandId"/>
		<result column="goods_name" property="goodsName"/>
		<result column="category" property="category"/>
		<result column="original_price" property="originalPrice"/>
		<result column="sales_price" property="salesPrice"/>
		<result column="goods_color" property="goodsColor"/>
		<result column="goods_content" property="goodsContent"/>
		<result column="browse_num" property="browseNum"/>
		<result column="save_num" property="saveNum"/>
		<result column="sales_num" property="salesNum"/>
		<result column="is_sale" property="isSale"/>
		<result column="goods_keywords" property="goodsKeywords"/>
		<result column="is_on_sale" property="isOnsale"/>
		<result column="stock_num" property="stockNum"/>
		<result column="minus_price" property="minusPrice"/>
		<result column="privilege" property="privilege"/>
		<result column="points" property="points"/>
		<result column="style" property="style"/>
		<result column="style_A" property="styleA"/>
		<result column="style_B" property="styleB"/>
		<result column="style_C" property="styleC"/>
		<result column="style_D" property="styleD"/>
		<result column="style_E" property="styleE"/>
		<result column="add_time" property="addTime"/>
	</association>
	<association property="brand" javaType="Brand">
		<id column="brand_id" property="brandId"/>
		<result column="brand_name" property="brandName"/>
		<result column="brand_logo" property="brandLogo"/>
		<result column="brand_con" property="brandCon"/>
		<result column="brand_addtime" property="brandAddtime"/>
	</association>
  </resultMap>
 <insert id="insert" parameterType="GoodsAttr">
 insert into moon_goods_attr(
 	<trim prefixOverrides=",">
		<if test="attrId != null">
			attr_id
		</if>
		<if test="goods != null">
			,goods_id
		</if>
		<if test="material != null">
			,material
		</if>
		<if test="border != null">
			,border
		</if>
		<if test="size != null">
			,size
		</if>
		<if test="function != null">
			,function
		</if>
		<if test="brand != null">
			,brand_id
		</if>
		<if test="color != null">
			,color
		</if>
		<if test="price != null">
			,price
		</if>
	</trim>
 	) values(
 	<trim prefixOverrides=",">
		<if test="attrId != null">
			#{attrId}
		</if>
		<if test="goods != null">
			,#{goods.goodsId}
		</if>
		<if test="material != null">
			,#{material}
		</if>
		<if test="border != null">
			,#{border}
		</if>
		<if test="size != null">
			,#{size}
		</if>
		<if test="function != null">
			,#{function}
		</if>
		<if test="brand != null">
			,#{brand.brandId}
		</if>
		<if test="color != null">
			,#{color}
		</if>
		<if test="price != null">
			,#{price}
		</if>
	</trim>
 	);
 </insert>
 <update id="update" parameterType="GoodsAttr">
 UPDATE moon_goods_attr SET 
 <trim prefixOverrides=",">
		<if test="goods != null">
			goods_id=#{goods.goodsId}
		</if>
		<if test="material != null">
			,material=#{material}
		</if>
		<if test="border != null">
			,border=#{border}
		</if>
		<if test="size != null">
			,size=#{size}
		</if>
		<if test="function != null">
			,function=#{function}
		</if>
		<if test="brand != null">
			,brand_id=#{brand.brandId}
		</if>
		<if test="color != null">
			,color=#{color}
		</if>
		<if test="price != null">
			,price=#{price}
		</if>
	</trim>
  WHERE attr_id=#{attrId}; 
 </update>
 <select id="findall" resultMap="goodAttr">
 	<![CDATA[
			select * from moon_goods_attr a,moon_goods g,moon_brand b where a.goods_id=g.goods_id and a.brand_id=b.brand_id;
		]]>
 </select>
 <select id="findByAttr" parameterType="GoodsAttr" resultMap="goodAttr">
			select * from moon_goods_attr a,moon_goods g,moon_brand b where a.goods_id=g.goods_id and a.brand_id=b.brand_id
			<if test="attrId != null">
				and a.attr_id=#{attrId}
			</if>
			<if test="goods != null">
				and a.goods_id=#{goods.goodsId}
			</if>
			<if test="material != null">
				and a.material=#{user.userId}
			</if>
			<if test="border != null">
				and a.border=#{order.orderId}
			</if>
			<if test="size != null">
				and a.size=#{commentContentword}
			</if>
			<if test="function != null">
				and a.function=#{commentContentimg}
			</if>
			<if test="brandId != null">
				and a.brand_id=#{guarantee}
			</if>
			<if test="color != null">
				and a.color=#{server}
			</if>
			<if test="price != null">
				and a.price=#{logistics}
			</if>;
		
 </select>
 <select id="findbylimit" parameterType="map" resultMap="goodAttr">
 	<![CDATA[
 	select * from moon_goods_attr a,moon_goods g,moon_brand b where a.goods_id=g.goods_id and a.brand_id=b.brand_id limit #{num1},#{num2};
	]]>	
 </select>
</mapper>
