<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yld.mapper.PhotoWallMapper">
  <resultMap type="PhotoWall" id="photoWallresultmap">
  	<id column="photo_id" property="photoId"/>
  	<result column="photo_url" property="photoUrl"/>
  	<result column="photo_word" property="photoWord"/>
  	<result column="photo_time" property="photoTime"/>
  	<result column="photo_status" property="photoStatus"/>
  </resultMap>
  <!-- 查询 -->
  <select id="findall" resultMap="photoWallresultmap">
  	select * from moon_photo_wall
  </select>
  <!-- 插入 -->
  <insert id="insert" parameterType="photoWall">
  	insert into moon_photo_wall(
	<trim prefixOverrides=",">
		<if test="photoUrl != null">
			photo_url
		</if>
		<if test="photoWord != null">
			,photo_word
		</if>
		<if test="photoTime != null">
			,photo_time
		</if>
	</trim>
	)values(
	<trim prefixOverrides=",">
		<if test="photoUrl != null">
			#{photoUrl}
		</if>
		<if test="photoWord != null">
			,#{photoWord}
		</if>
		<if test="photoTime != null">
			,#{photoTime}
		</if>
	</trim>
	)
  </insert>
  <!-- 更新 -->
  <update id="update" parameterType="photoWall">
  	update moon_photo_wall set photo_status =#{photoStatus} where photo_id =#{photoId}
  </update>
</mapper>
