<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yld.mapper.ReturnorderMapper">
	<resultMap type="Returnorder" id="returnorder">
		<id column="return_id" property="returnId"/>
		<result column="order_id" property="orderId"/>
		<result column="user_id" property="userId"/>
		<result column="goods_id" property="goodsId"/>
		<result column="reason" property="reason"/>
		<result column="return_status" property="returnStatus"/>
		<result column="return_time" property="returnTime"/>
		<!-- 多对一 -->
		<association property="user" javaType="User">
			<id column="user_id" property="userId" />
			<result column="points" property="points" />
			<result column="user_level" property="userLevel" />
			<result column="is_privilege" property="isPrivilege" />
			<result column="privilege_num" property="privilegeNum" />
			<result column="phone" property="phone" />
			<result column="nick_name" property="nickName" />
			<result column="header_pic" property="headerPic" />
			<result column="password" property="password" />
			<result column="sex" property="sex" />
			<result column="birthday" property="birthday" />
			<result column="zipcode" property="zipcode" />
			<result column="mobile" property="mobile" />
			<result column="mail" property="mail" />
			<result column="user_time" property="userTime" />
			<result column="user_status" property="userStatus" />
		</association>
		<association property="order" javaType="Order">
			<id column="order_id" property="orderId"/>
			<result column="order_number" property="orderNumber"/>
		  	<result column="goods_id" property="goodsId"/>
		  	<result column="glass_id" property="glassId"/>
		  	<result column="user_id" property="userId"/>
		  	<result column="optometry_id" property="optometryId"/>
		  	<result column="order_status" property="orderStatus"/>
		  	<result column="shipping_status" property="shippingStatus"/>
		  	<result column="pay_status" property="payStatus"/>
		  	<result column="consignee" property="consignee"/>
		  	<result column="provinceid" property="provinceid"/>
		  	<result column="cityid" property="cityid"/>
		  	<result column="districtid" property="districtid"/>
		  	<result column="address" property="address"/>
		  	<result column="zipcode" property="zipcode"/>
		  	<result column="phone" property="phone"/>
		  	<result column="pay_num" property="payNum"/>
		  	<result column="order_money" property="orderMoney"/>
		  	<result column="postscript" property="postscript"/>
		  	<result column="shipping_id" property="shippingId"/>
		  	<result column="shipping_name" property="shippingName"/>
		  	<result column="shipping_num" property="shippingNum"/>
		  	<result column="order_time" property="orderTime"/>
		  	<result column="goods_attr_id" property="goodsAttrid"/>
		  	<result column="pic_id" property="picId"/>
		</association>
		<association property="goods" javaType="Goods">
			<id column="goods_id" property="goodsId"/>
		  	<result column="brand_id" property="brandId"/>
		  	<result column="goods_name" property="goodsName"/>
		  	<result column="category" property="category"/>
		  	<result column="original_price" property="originalPrice"/>
		  	<result column="sales_price" property="salesPrice"/>
		  	<result column="goods_color" property="goodsColor"/>
		  	<result column="goods_content" property="goodsContent"/>
		  	<result column="browse_num" property="browseNum"/>
		  	<result column="save_num" property="saveNum"/>
		  	<result column="sales_num" property="salesNum"/>
		  	<result column="is_sale" property="isSale"/>
		  	<result column="goods_keywords" property="goodsKeywords"/>
		  	<result column="is_on_sale" property="isOnsale"/>
		  	<result column="stock_num" property="stockNum"/>
		  	<result column="minus_price" property="minusPrice"/>
		  	<result column="privilege" property="privilege"/>
		  	<result column="points" property="points"/>
		  	<result column="style" property="style"/>
		  	<result column="style_A" property="styleA"/>
		  	<result column="style_B" property="styleB"/>
		  	<result column="style_C" property="styleC"/>
		  	<result column="style_D" property="styleD"/>
		  	<result column="style_E" property="styleE"/>
		  	<result column="add_time" property="addTime"/>
		</association>
	</resultMap>
	<!-- 查询 -->
	<select id="findall" resultMap="returnorder">
		SELECT r.* ,u.nick_name ,g.goods_name ,o.order_number FROM moon_returnorder r,moon_user u,moon_goods g,moon_order o WHERE
r.user_id=u.user_id AND r.goods_id=g.goods_id AND r.order_id=o.order_id
	</select>
	<!-- 更改 -->
	<update id="update">
		update moon_returnorder set
		<trim prefixOverrides=",">
			<if test="orderId != null">
				order_id=#{orderId}
			</if>
			<if test="userId != null">
				user_id=#{userId}
			</if>
			<if test="goodsId != null">
				goods_id=#{goodsId}
			</if>
			<if test="reason != null">
				reason=#{reason}
			</if>
			<if test="returnStatus != null">
				return_status=#{returnStatus}
			</if>
			<if test="returnTime != null">
				return_time=#{returnTime}
			</if>
		</trim>
		where return_id=#{returnId}
	</update>
	<update id="updatestatus" parameterType="Returnorder">
		UPDATE moon_returnorder SET return_status='1' WHERE return_id=#{returnId}
	</update>
</mapper>