<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yld.mapper.SaveMapper">
  <resultMap type="Save" id="save">
  	<id column="save_id" property="saveId"/>
  	<result column="goods_id" property="goodsId"/>
  	<result column="user_id" property="userId"/>
  	<result column="save_time" property="saveTime"/>
  </resultMap>
  <select id="find" parameterType="photoWall">
  	
  </select>
</mapper>
