<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yld.mapper.SaveMapper">
  <resultMap type="Save" id="saveresultMap">
  	<id column="save_id" property="saveId"/>
  	<result column="goods_id" property="goodsId"/>
  	<result column="user_id" property="userId"/>
  	<result column="save_time" property="saveTime"/>
  	<!-- 多对一 -->
	  <association property="user" javaType="User">
			<id column="user_id" property="userId" />
			<result column="points" property="points" />
			<result column="user_level" property="userLevel" />
			<result column="is_privilege" property="isPrivilege" />
			<result column="privilege_num" property="privilegeNum" />
			<result column="phone" property="phone" />
			<result column="nick_name" property="nickName" />
			<result column="header_pic" property="headerPic" />
			<result column="password" property="password" />
			<result column="sex" property="sex" />
			<result column="birthday" property="birthday" />
			<result column="zipcode" property="zipcode" />
			<result column="mobile" property="mobile" />
			<result column="mail" property="mail" />
			<result column="user_time" property="userTime" />
			<result column="user_status" property="userStatus" />
		</association>
		<!-- goods -->
		<association property="goods" javaType="Goods">
			<id column="goods_id" property="goodsId"/>
		  	<result column="brand_id" property="brandId"/>
		  	<result column="goods_name" property="goodsName"/>
		  	<result column="category" property="category"/>
		  	<result column="original_price" property="originalPrice"/>
		  	<result column="sales_price" property="salesPrice"/>
		  	<result column="goods_color" property="goodsColor"/>
		  	<result column="goods_content" property="goodsContent"/>
		  	<result column="browse_num" property="browseNum"/>
		  	<result column="save_num" property="saveNum"/>
		  	<result column="sales_num" property="salesNum"/>
		  	<result column="is_sale" property="isSale"/>
		  	<result column="goods_keywords" property="goodsKeywords"/>
		  	<result column="is_on_sale" property="isOnsale"/>
		  	<result column="stock_num" property="stockNum"/>
		  	<result column="minus_price" property="minusPrice"/>
		  	<result column="privilege" property="privilege"/>
		  	<result column="points" property="points"/>
		  	<result column="style" property="style"/>
		  	<result column="style_A" property="styleA"/>
		  	<result column="style_B" property="styleB"/>
		  	<result column="style_C" property="styleC"/>
		  	<result column="style_D" property="styleD"/>
		  	<result column="style_E" property="styleE"/>
		  	<result column="add_time" property="addTime"/>
		</association>
  </resultMap>
  <select id="findall" resultMap="saveresultMap">
  	select * from moon_save 
  </select>
  <select id="findbyid" parameterType="Save" resultMap="saveresultMap">
  	 select * from moon_save where user_id=#{userId}
  </select>
  <insert id="insert">
  	insert into moon_save(goods_id,user_id,save_time)values(#{goodsId},#{userId},#{saveTime})
  </insert>
  <delete id="delete" parameterType="Save">
  	delete from moon_save where save_id=#{saveId}
  </delete>
  <select id="pagecount" resultType="int">
  	select ceil(count(*)/5) from moon_save
  </select>
  <select id="findbylimit" resultMap="saveresultMap">
  	select * from moon_save limit #{num1},#{num2}
  </select>
</mapper>
