.f_l{
	float: left;
}
.f_r{
	float: right;
}
.writeOptometry_P{
	font: 13px "微软雅黑";
	color: #959595;
	margin-left: -13px;
	margin-top: -1px;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
}
#top a:link{
	color: #3D3D3D;
	text-decoration: none;
}
#top a:visited{
	color: #3D3D3D;
}
#helpSubmenuZi a:link{
	color: #707070;
	text-decoration: none;
}
#helpSubmenuZi a:visited{
	color: #707070;
}

#top li {
	list-style: none;
	float: left;
}
li{
	list-style: none;
}

/*================头部===================*/
#top{
	width: 100%;
	/*width:fit-content;*/
	height: 142px;
}
/*帮助部分*/
#help{
	width: 100%;
	height: 35px;
	background: #F4F4F4;
}
#helpSubmenu{
	width: 1346px;
	height: 35px;
	margin: 0 auto;
}
#helpSubmenu1{
	width: 1343px;
	height: 35px;
	margin: 0 auto;
}
#top li{
	padding: 0;
	font: 12px/35px "微软雅黑";
	float: left;
	color: #707070;
}
#catalogContent-1 li{
	color: #313131;
	/*color: #fff;*/
}
#catalogContent-1 li{
	font: 10px/17px "宋体";
	margin-top: 13px;
	padding-top: 6px;
}

.leftboCo ul{
	float: left;
}
.catalogFont{
	font: 16px/17px "黑体";
	font-weight: bolder;
	color: #313131;
}

.catalogFont2,.catalogFont2_2{
	font: 12px/17px "黑体";
	display: block;
	margin-top: -3px;
	color: 
}
#catalog_Zi_2{
	margin-right: 2px;
}
#catalog_Zi_3{
	margin-left: 10px;
}
.catalogFont2_2{
	color: #FFF;
}
#top ul{
	margin: 0;
	padding: 0;
	font: 12px/35px "微软雅黑";
	float: left;
	color: #707070;
}
#helpSubmenuZi{
	float: right;
}
#helpSubmenu ul{
	text-align: right;
}

#helpHandset{
	width: 70px;
	height: 35px;
	margin: 0px;
	padding: 0px;
	background: url(../Images/commonImages/moblie.gif) 16px 10px no-repeat;
}
/*目录部分*/
#catalog{
	width: 100%;
	height: 109px;
}
#indCataZi a:link{
	color: #707070;
	text-decoration: none;
}
#indCataZi a:visited{
	color: #373738;
}
#indCataZi1 a:link{
	color: #707070;
	text-decoration: none;
}
#indCataZi1 a:visited{
	color: #373738;
}
#catalogZi{
	width: 1346px;
	height: 80px;
	margin: 0 auto;
	padding-top: 30px;
}
.rootDirectory{
	width: 505px;
	height: 60px;
}
#catalogContentUl1Li2{
	margin-right: 2px;
}
#catalogContentUl1Li3{
	margin-right: 9px;
}
#catalogContentUl1Li4{
	margin-right: 25px;
}
#ad2Map0Li_18,#ad2Map0Li_19{
	font: 10px/35px "微软雅黑";
	font-weight: bold;
}
.rootDirectory ul{
	width: 65px;
	font-size: 10px;
}
.rootDirectory li{
	font-size: 12px;
	width: 57px;
	text-align: center;
}
#catalogContentUl1{
	border-radius: 5px;
	height: 30px;
}
#catalogContent-1 li{
	width: 86px;
	height: 33px;
	border-radius: 5px;
}
#w_130{
	width: 130px;
}
#w_111{
	width: 111px;
	height: 34px;
	margin-top: -10px;
}
.t_10{
	margin-top: -10px;
}
.cataLog{
	width: 429px;
	height: 80px;
	margin-top: -50px;
	background: url(../images/commonImages/logo.gif) 0 -30px no-repeat;
}
#cSinput1{
	width: 208px;
	height: 38px;
	padding-right: 0px;
}
#cSinput2{
	width: 50px;
	height: 44px;
	margin-left: 3px !important;
	margin-right: -8px !important;
	background: #333333 url(../images/commonImages/search.png) 18px 15px no-repeat;
}
.cSinput3{
	width: 98px;
	height: 45px;
	margin-left: 30px;
	background: url(../images/commonImages/collect.gif) 30px 0 no-repeat;
}
.cSinput4{
	width: 46px;
	height: 44px;
	margin-left: 11px;
	background: url(../images/commonImages/shopping.gif) 0 0 no-repeat;
}
#cSinput5 li{
	margin-right: 15px;
	color: #B9B9B9;
	height: 23px;
}
#cSinput6{
	width: 56px;
	text-align: right;
}
#cSinput7{
	width: 64px;
	text-align: right;
}
.catalogSearch{
	width: 404px;
	padding-left: 8px !important;
}
#helpSubmenuZi_li0{
	margin-right: -11px;
}
#helpSubmenuZi_li2{
	margin-left: 20px;
}
#helpSubmenuZi_li3{
	margin-left: 14px;
}
#helpSubmenuZi_li5{
	cursor: pointer;
	margin-left: 20px;
	margin-right: 14px;
}

/*弹出框*/
#person{
	width: 100%;
	position: absolute;
	top:36px;
	z-index: 1;
}
#person_1{
	width: 1345px;
	height: 326px;
	margin: 0 auto;
	display: none;
}
#ge_ren{
	width: 290px;
	height: 326px;
	background: #F8F8F8;
	position: absolute;
	margin-left: 1062px;
	margin-top: -1px;
}
#ge_ren .ge_ren1{
	padding-left: 0px;
}
.ge_ren1_li1{
	font: 13.33px "MicrosoftYaHeiLight";
	color: #ABABAB;
}
.ge_ren1{
	width: 203px;
	height: 133px;
	border-bottom: 2px solid #E2E2E2;
	margin: 0 auto;
}
.ge_ren1 li{
	text-align: center;
}
.ge_ren1_1{
	margin-top: 10px;
	margin-bottom: 10px;
	color: #CB9B68;
	font: 21.33px "微软雅黑";
	color: #CB9B68;
}
.dutiao{
	width: 126px;
	height: 12px;
	background: #E1E1E1;
}
.dutiao_1{
	width: 12px;
	height: 12px;
	background: #CB9B68;
	position: absolute;
	margin-top:-12px;
}

.dutiao_2{
	font-size: 13px;
	position: absolute;
	margin-top: -14px;
	margin-left: 24px;
	font: 13.33px "MicrosoftYaHeiLight";
}
.dutiao_3{
	position: absolute;
	font-size: 13px;
	color: #404141;
	margin-left: 140px;
	margin-top: -14px;
	font: 13.33px "微软雅黑";
}
.ge_ren2{
	width: 200px;
	height: 120px;
	margin: 0 auto;
	margin-top: 16px;
	font-size: 13px;
	color: #404141;
	padding-left: 0px;
}
.ge_ren2 ul{
	width: 200px;
	height: 30px;
	padding: 0;
}
.ge_ren2 li{
	margin-bottom: -1px;
	font-size: 13.33px;
	/*height: 10px;*/
}

/*帮帮我*/
#Show__help{
	width: 100%;
	height: 143px;
	background: #1D1D1D;
	opacity: 0.9;
	position: absolute;
	top:2px;
	display: none;
	z-index: 1
}
/*关闭*/
#Show__close{
	float: right;
	margin-right: 10px;
	margin-top: -2px;
}
#Show__help ul li{
	float: left;
	font: 16px "微软雅黑";
}
#Show__help ul a{
	color: #ffffff;

}
.help1{
	width: 1345px;
	height: 80px;
	margin: 0 auto;
	margin-top: 36px;
	color: #fff;
}
.help1 li{
	margin-top: 22px;
}
.help1_1 {
	margin-left:114px; 
}
.help1_2{
	margin-left: 242px;
}
.help1_3{
	margin-left: 288px;
}
.help1_4{
	margin-left: 260px;
}





/*==============底部=============*/

#bottom{
	width: 100%;
	height: 352px;
	background: #000000;
}
#bottom li{
	list-style: none;
	float: left;
}
#leftboCo{
	float: left;
}
#bottomContent{
	width: 1346px;
	height: 241px;
	margin: 0 auto;
}
#upboCo{
	width: 1346px;
	height: 110px;
	border-bottom: 1px solid #3d3d3d;
}

.leftboCo{
	width: 944px;
	height: 108px;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 10px;
}
.rightboCo{
	float: left;
	width: 290px;
	height: 108px;
	padding-top: 20px;
	padding-left: 112px;
}
.lbC1,.lbC2,.lbC3,.lbC4{
	float: left;
	height: 108px;
	padding-left: 30px;
	padding-top: 29px;
}
.lbC2,.lbC3,.lbC4{
	margin-left: 43px;
}
.lbC1{
	width: 141px;
	background: url(../Images/commonImages/good.png) 0 24px no-repeat;
}
.lbC2{
	width: 215px;
	background: url(../Images/commonImages/seven.png) 0 24px no-repeat;
}
.lbC3{
	width: 161px;
	background: url(../Images/commonImages/return.png) 0 24px no-repeat;
}
.lbC4{
	width: 137px;
	background: url(../Images/commonImages/help.png) 0 24px no-repeat;
}
.f_16{
	font: 19px "黑体";
	color: #FFFFFF;
}
.f_12,.f_13,.f_14{
	width: 77px;
	height: 20px;
	font: 15px "黑体";
	margin-top:0px;
	color: #8B8B8B;
	text-align: center;
}
.f_13{
	width: 150px;
}
.f_14{
	width: 95px;
}
.f_23{
	font: 30px "微软雅黑";
	color: #FFFFFF;
	padding: 0;
}
.f_10{
	font: 13.33px "微软雅黑";
	color: #767676;
	padding: 0;
}
#bottom a:link{
	color: #707070;
	text-decoration: none;
	font: 12px "宋体";
}
#bottom a:visited{
	color: #9E9E9E;
	font: 12px "宋体";
}
#downboCo{
	padding-top: 41px;
	padding-left: 0px;
}
#downboCo li{
	width: 161px;
	height: 25px;
	color: #8B8B8B;
}
.friendlyLink{
	width: 290px;
	height: 99px;
	margin-top: -13px;
}
#friendlyLink_ a:hover{
	text-decoration: underline;
}
.friendlyLink a{
	display: block;
	float: left;
	margin-top: 19px;
	margin-left: 2px;
	font-size: 11px;
}
#newUl5{
	font-size: 13px;
	color: red;
	padding-left: 0px;
}
#newUl5 a:link{
	font: 13px "微软雅黑";
}
#newUl5 a:hover{
	text-decoration: underline;
}
.fontRed_Span{
	color: red;
	font: 21.33px "黑体";
	margin-bottom: 23px;
	margin-top: -10px;
}
.fontRed{
	color: red;
}
.c_BCBCBC{
	color: #BCBCBC;
}
#fontRed{
	color: red;
	font: 12px "宋体";
	float: left;
	margin-top: 19px;
	text-decoration: none !important;
}
#brand{
	width: 398px;
	height: 60px;
	margin: 0 auto;
	text-align: center;
	padding-top: 48px;
	color: #FFFFFF;
	font: 12px "宋体";
}
#showCountdown{
	font: 13.33px/35px "黑体";
	float: right;
	margin-top: -10px;
}
.ad2Map0Li_1{
	text-decoration: underline;
}


		/*==================================中间部分=====================================*/
		#main_part{
		width: 100%;
		height: 660px;
		overflow: hidden;
	}
	.main_yan{
		width: 383px;
		height: 488px;
		margin: 0 auto;
		margin-top: 82px;
	}
	.main_yan ul{
		width: 336px;
		height: 488px;
		text-align: center;
		list-style: none;
	}
	/*================================================新用户登录==================================*/
	.main_yan p{
		font-size: 16px;
		height: 25px;
		margin-top: 0;
		font-family: "微软雅黑";
		font-weight: bold;
		color: #1F201B;
		width: 333px;
		text-align: center;
		margin-bottom: 0px;
	}
	/*=================================================input文本框===============================*/
	.register_span{
		margin-left: 10px;
	}
	.register_span span{
		float: left;
		display: block;
		font-size: 12px;
		font-family: "微软雅黑";
		width: 30px;
		height: 20px;
		background: #E8E8E8;
		line-height: 20px;
		margin: 4px 0px 4px 10px;
		 color: #D0D0D0;
	}
	.register_span .register_spanqe{
		display: block;
		width:180px; 
		height: 30px;
		margin: 0px;
		padding: 0px;
		background: #fff;
		margin-left: 10px;
		font-size: 16px;
		font-family: "微软雅黑";
		text-align: left;
		line-height: 30px;
	}
	/*再次输入密码*/
	.register_spanone span{
		float: left;
		display: block;
		width: 300px;
		height: 28px;
		line-height: 30px;
		margin: 0px 0px 0px 17px;
		 color: #D0D0D0;
		 font-size: 16px;
		 font-family: "微软雅黑";
		 text-align:left;

	}

	.register_bali{
		width: 56px;
		height: 39.5px;
		text-align: center;
		border: 1px solid #B6B6B6;
		border-right:0px;
		padding: 1.4px;
		padding-bottom: 0px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
			}
	.register_tel{
		padding: 0px;
		width: 245px;
		height: 40px;
		border: 1px solid #B6B6B6;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		margin: 0 auto;
		font-size: 14px;
		font-family: "微软雅黑";
		color: #D0D0D0;
		margin-top: 20px;
		margin-bottom: 5px;
		padding-bottom:0.5px;
	}
.register_repas,.register_paws{
		width: 301px;
		height: 40px;
		border: 1px solid #B6B6B6;
		margin: 0 auto;
		font-size: 14px;
		font-family: "微软雅黑";
		color: #D0D0D0;
		margin-top: 25px;
		border-radius: 3px ;

	}
	.register_repas{
		margin: 0px;
	}
	.register_mes{
		width: 159px;
		height: 40px;
		border: 1px solid #B6B6B6;
		margin: 0 auto;
		font-size: 14px;
		font-family: "微软雅黑";
		color: #D0D0D0;
		margin-top: 0px;
		border-radius: 3px;
		text-align: none;
		float: left;
		margin-left: 20px;
	}
	/*获取验证码*/
	.register_obtain{
		width: 136px;
		height: 44px;
		background: #171814;
		float: left;
		margin-top: 0px;
		border-radius: 3px;
		margin-left: 7px;
		font-size: 13.33px;
		font-family: "微软雅黑";
		color: #fff;
		line-height: 40px;
		cursor: default;
	}
	.register_obtain span{
		display: block;
		width: 136px;
		height: 44px;
		background: #171814;
		float: left;
		border-radius: 3px;
		font-size: 13.33px;
		font-family: "微软雅黑";
		color: #fff;
		line-height: 45px;
		cursor: default;
	}
	/*立即注册*/
	.register_consent{
		clear: both;
		height: 30px;
		overflow: hidden;
		padding-top: 54px;
		font-size: 13.33px;
		font-family: "微软雅黑";
		color: #D0D0D0;
	}
	.register_consent .register_service{
		color: #8ABAE9;
		text-decoration: underline;
		font-family:"微软雅黑";
	}
	 .conregister {
	 	margin-top:5px;
		text-align: center;
		width: 306px;
		height: 42px;
		background: black;
		margin-left: 24px;
		line-height: 40px;
		border-radius:3px;
		cursor: default;
	}
	.conregister span{
		display: block;
		width: 306px;
		height: 42px;
		color: #fff;
		background: black;
		font-size: 18.67px;
		font-family: "微软雅黑";
		line-height: 40px;
		border-radius: 3px;
		cursor: default;
	}
	.register_exist{
		margin-top: 24px;
		float: left;
		margin-left: 52px;
		font-size: 13.33px;
		font-family: "微软雅黑";
		color: #717171;
	}
	.register_cut{
		float: left;
		margin-top: 20px;
		margin-left: 15px;

	}
	.register_cut a {
		color: #F0AF1B;
		font-size: 13.33px;
		font-family: "微软雅黑";
	}
/*==============底部=============*/
