html,body{
    font-size:14px;
    font-family: '微软雅黑';
}
.container{
    padding-left: 0px;
    padding-right: 0px;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2,
.col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-brand{
    padding-top: 11px;
}
.container p{
    overflow: hidden;
}
.div{
    padding-right: 0px;
    padding-left: 0px;
}
.col-xs-8{
    font-size: 20px;
    font-family: '微软雅黑';
    padding-top: 20px;
}
.qp{
    padding-right: 0px;
    padding-left: 0px;
}
#tp{
    height: 159px;
}
#tp img{
    height: 159px;
}
#tpx{
    background-color: #ee6a44;
    width: 7px;
    height: 30px;
}
#ms{
    padding-top: 6px;
}
#ms div{
    color:#ee6a44 ;
    font-size: 10px;
}
#ms div span{
    background-color:#ee6a44 ;
    color:#fff ;
}
.col-xs-6{
    border: 1px solid #f6f6f6;
    padding-right: 7px;
}
.atyg_h{
    width: 20%;
    float: left;
}
.col-xs-1{
    color:#ee6a44 ;
}
.col-xs-6{
    color:#ee6a44 ;
}
#bot{
    height: 48px;
    background-color: white;
    border-top: 1px solid #efefef;
    box-shadow: 0px -1px  2px #efefef;
}
.circle{
    width:40px;
    height:40px;
    border-radius: 20px;
    background-color: #fff;
}
#xp div{
    color:#ee6a44 ;
    font-size: 10px;
}
#xp1{
    background-color: #ee6a44;
    width: 7px;
    height: 39px;
}
#tp_h{
    border-top: 2px solid #e4e4e4;
}
#df{
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 53%;
    top: -2%;
    background-color: white;
    line-height: 12px;
}