
@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1503111841226'); /* IE9*/
    src: url('../fonts/iconfont.eot?t=1503111841226#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1503111841226') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1503111841226') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1503111841226#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before { content: "\e788"; }
.icon-fanhui:before { content: "\e624"; }

.f_l{
    float: left;
}
.li_b{
    border-bottom: 2px solid #000000;padding-bottom: 8px
}
.d_b_b{
    border-bottom: 1px solid #dedede;
}
#head{/*头部div*/
    overflow: auto;
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
}
#bottom{/*底部DIV*/
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
}
.head_l{/*头部左边*/
    padding: 28px 20px 12px 20px;
}
.head_r{/*头部右边*/
    padding: 28px 20px 0px 20px;
}
.head_r_ul{
    padding-top: 3px;margin-bottom: 0px;
}
#red_dian{
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 3px;
    position: absolute;
    left: 87%;
    top: 50%;
}
.p_10_f_14_1{
    padding: 5px 10px 0 10px;font-size: 14px;
}.p_10_f_14{
     padding: 10px 8px;font-size: 14px;
 }
.p_10_f_16{
    padding: 0 10px;
    font-size: 16px;
    font-family: '微软雅黑';
    font-weight:bold;
}
.p_10_f_12{
    padding: 10px;font-size: 12px;
}
#c_b{/*中间底部*/
    border-bottom: 1px solid #cccccc;border-top: 1px solid #cccccc;padding: 16px 0px;
}
.qf{/*清除浮动*/
    overflow: auto;
}
.qp{/*清除默认padding*/
    padding-left: 0;
    padding-right: 0;
}
.qr{
    margin-left: 0;
    margin-right: 0;
}
.li_qp{
    padding-left: 0;
    padding-right: 0;
}
.font{/*设置整体字体*/
    font-family: '微软雅黑';
    font-size: 16px;
}
.f_g{/*底部按钮“加入购物车”样式*/
    font: 16px/50px '微软雅黑';
    color: #ffffff;
}
.b_l{
    width: 60%; height:50px;
}
.b_r{
    width: 40%; height:50px;background-color: #f23030;
}
.h_50_f_12{
    height: 50px;font-size: 12px;
}
.b-img{/*底部图片*/
    width: 100%;border: 0px;margin-bottom: -7px;
}
#xq_h{
    height: 54px;padding:13px 0 0 20px;color: red;
}
#xq_c{
    border-top:1px solid #cccccc;border-right:1px solid #cccccc;border-bottom:1px solid #cccccc;
}
.xqy_c{
    margin-top: 10px;padding-left: 8px;padding-right: 8px;
}
.ss_1{
    font-size: 0.7rem; padding-left: 10px;
    margin-top: 25px;
}
.ss_2{
    font-size: 10px; padding-left: 10px;

}
.ss_3{
    font-size: 0.7rem; padding-left: 10px;
    margin-top: 10px;
}
.ss_4{
    padding-left: 10px;
    margin-top: 10px;
}
.ss_4_1{
    color: #ffffff;background-color: #000000;font-size: 8px;
}
.ss_5{
    font-size: 0.7rem; padding-left: 10px;
    margin-top: 10px;
}
.ss_51{
    font-size: 0.7rem; padding-left: 10px;
}
.ss_6{
    padding-left: 10px;

}
.ss_6_1{
    font-size:0.7rem;border: 1px solid #cccccc;

}
.col2{
    width: 17%;
    float: left;
}
.col2_s{
    border: 1px solid #dedede;margin-top: 10px;margin-right: 9px;
}
.b_1{
    border-bottom: 1px solid #cccccc;
}
.xx_img img{
    width: 10px;height: 10px;
}
.m_bottom{
    margin-bottom: 5px;
}
.p_r_5{
    padding-right: 5px;
}
.f_8{
    font-size: 8px;
}