html,body{
    font-size:14px;
    font-family: '微软雅黑';
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2,
.col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 0px;
    padding-left: 0px;
}
.col-xs-12{
    padding-top:16px ;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}
.col-xs-12 img{
    width: 118px;
    height: 118px;
}
.atyg_h{
    width: 20%;
    float: left;
}
#img_p{
    padding-right: 0px;
    padding-left: 0px;
}
#img_a{
    padding-right: 0px;
    padding-left: 0px;
}
#img_d{
    padding-right: 0px;
    padding-left: 0px;
}
#img_i{
    padding-right: 0px;
    padding-left: 0px;
}
#img_n{
    padding-right: 0px;
    padding-left: 0px;
}
.col-xs-2 {
    padding-right: 0px;
    padding-left: 0px;
}
#hx{
    padding-top: 21px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:#e4e4e4 ;
}
#xx{
    padding-top: 13px;
}
#tp{
    padding-top: 20px;
}
.qp{
    padding-right: 0px;
    padding-left: 0px;
}
#tp_h{
    border-top-style:solid;
    border-top-width: 2px;
    border-top-color: #eeeeee;
}
#tp div img{
    padding-left: 15px;
    padding-right: 15px;
}
#tp_hx{
    border-top-style:solid;
    border-top-width: 2px;
    border-top-color: #fefefe;
}
#bot{
    height: 48px;
    background-color: white;
    border-top: 1px solid #fefefe;
    box-shadow: 0px -1px 2px #fefefe;
}
.circle{
     width:40px;
     height:40px;
     border-radius: 20px;
     background-color: #fff;
 }
#img_p div{
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 65%;
    top: 12%;
    background-color: white;
    line-height: 13px;
}
#img_d div{
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 60%;
    top: 12%;
    background-color: white;
    line-height: 13px;
}
#jf div{
    border: 1px solid red;
    background-color: red;
    color: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: 55%;
    top:5%;
}
#df{
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 53%;
    top: -2%;
    background-color: white;
    line-height: 12px;
}