body {
    background-color: rgb(241, 241, 241);
}
.row{
    font:16px 微软雅黑;
    font-weight: bold;
}
.header {
    font-weight: bold;
    height: 64px;
    background-color: rgb(255, 255, 255);
    padding-top: 28px;
}
.img_icon img{
    width:15px;
}
.input-group{
    padding-top:50px;
    font-weight: bold;
    font-size: 14px;
}
.input_one{
    padding-top:10px;

}
.input_one input{
    display: inline-block;
    height:50px;
    border:1px solid #eeeeee;
}
#btns{
    margin-top: 50px;
    padding:0;
}
p{
    font:15px 微软雅黑;
    margin-top:100px;
    color:#9c9c9c;
}
u{
    color: #606163;
}
.bg_red{
    background-color: rgb(242,48,48);
    border-radius: 2px;
    padding: 13px;
    color: rgb(231,231,231);
    margin-top:30px;
}